---
layout: default
---

<section class="intro">
    <h1>All you need is an idea and some data</h1>
    <p>
        Every data science project depends on two things: a clearly defined question and data to answer it.
    </p>
    <p>
        Yet most data science blogs, articles, or even training courses focus almost exclusively on everything in between: coding, statistical methods, machine learning models or data visualisation.
    </p>
    <p>
        Don't get me wrong, those aspects matter. But without good foundations (the data) and a well-defined target (the question), they become little more than technical exercises.
    </p>
    <p>
        The true added value of a data scientist depends on knowing what can be answered from what's available. Get those two right, and everything else (which models, tools, language) starts to fall naturally into place.
    </p>
    <p>
        <b>The central idea you’ll find in these pages is that good data analysis depends more on mindset, creativity, and adaptability than on technique.</b>
    </p>
    <p>
        My notebooks document that process: the initial idea, its refinement into questions, the search for data, the wrong turns and dead ends, and the lessons learned along the way.
    </p>
    <p>
        Welcome inside my brain.
    </p>
</section>


<section class="projects">
    <h1>Active investigations</h1>

    {% assign active = site.notebooks
        | where: "status", "active"
        | sort: "order" %}

        {% for notebook in active %}

        <article class="project">
            <h2>
                <a href="{{ notebook.url | relative_url }}">
                    {{ notebook.title }}
                </a>
            </h2>

            <p>
                {{ notebook.summary }}
            </p>

            <p>
                <a href="{{ notebook.url | relative_url }}">
                    Explore the project
                </a>
            </p>
        </article>

        {% endfor %}
    </section>


    <section class="recent-posts">
        <h1>Latest notebook entries</h1>

        {% for post in site.posts limit:3 %}
        <article class="post-preview">

            <h2>
                <a href="{{ post.url | relative_url }}">
                    {{ post.project }} • {{ post.title }}
                </a>
            </h2>

            <p class="post_date">
                {{ post.date | date: "%B %-d, %Y" }}
            </p>

            <p class="post-excerpt">
                {{ post.summary }}
                <a href="{{ post.url | relative_url }}">→ Read more</a>
            </p>
            <br>
        </article>
        {% endfor %}
    </section>
